<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoon.reward.mapper.RewardMapper">
    <select id="getRewardMissionById" parameterType="Long" resultType="com.yoon.reward.reward.query.dto.RewardMissionDTO">
        SELECT * FROM reward WHERE reward_no = #{rewardNo}
    </select>
    <select id="findRewardByNo" parameterType="Long" resultType="com.yoon.reward.reward.command.domain.aggregate.Reward">
        SELECT * FROM reward WHERE reward_no = #{rewardNo}
    </select>
    <select id="findRewardAll" resultType="map">
        SELECT reward_no, reward_point FROM reward WHERE COALESCE(actual_inflow_count, 0) &lt; inflow_count
    </select>
    <select id="existsByUserIdAndRewardNo" parameterType="map" resultType="Integer">
        SELECT COUNT(1) FROM user_mission_participation WHERE reward_no = #{rewardNo} and user_id = #{userId}
    </select>
    <select id="findTodayRewardOne" resultType="Long">
<!--        SELECT reward_no-->
<!--        FROM (-->
<!--        SELECT reward_no-->
<!--        FROM reward-->
<!--        ORDER BY reward_no DESC-->
<!--        LIMIT 10-->
<!--        ) AS recent_rewards-->
<!--        ORDER BY RAND()-->
<!--        LIMIT 1;-->
        SELECT reward_no
        FROM reward
        ORDER BY reward_no DESC
        LIMIT 1;
    </select>
</mapper>